torch
typing-extensions>=4.11,<5  
requests==2.32.2
python-multipart
httpx

# finetune (https://github.com/yeyupiaoling/Whisper-Finetune/blob/master/requirements.txt)
numpy==1.23.1
soundfile>=0.12.1
librosa>=0.10.0
dataclasses>=0.6
transformers>=4.39.3
bitsandbytes>=0.41.0
datasets>=2.11.0
evaluate>=0.4.0
ctranslate2>=3.21.0
faster-whisper>=0.10.0
jiwer>=2.5.1
peft>=0.6.2 # torch>=1.13.0 ok
accelerate>=0.21.0
zhconv==1.4.2   # >=1.4.2 no found (build from Azure)
tqdm>=4.62.1
soundcard>=0.4.2
uvicorn>=0.21.1
fastapi>=0.95.1
starlette>=0.26.1
tensorboardX>=2.2
schedule

# whisper (https://github.com/openai/whisper)
openai_whisper-20240930-py3-none-any.whl  
numba
# numpy
# tqdm
more-itertools
tiktoken

# g_translate
googletrans-4.0.0rc1-py3-none-any.whl   # 自己包的一定要這個不然會版本衝突

# Argos Translate
argostranslate
h2==4.1.0

# GPT-4o
openai==1.57.4
