# FastAPI 
uvicorn>=0.21.1  
fastapi>=0.95.1  
starlette>=0.26.1  

# funASR
modelscope==1.18.0
funasr==1.1.6
huggingface_hub==0.24.6

# Vosk
vosk

# qwen
transformers

# Argos Translate
argostranslate
h2==4.1.0
